/*重置reset css*/
body,div,p,blockquote,
ul,ol,dl,li,dt,dd,
form,fieldset,legend,input,button,textarea,tr,td,th,
h1,h2,h3,h4,h5,h5,hr
{margin:0; padding:0;}
article,nav,section,aside,header,footer,hgroup,figure,figcaption
{margin:0; padding:0; display:block;}/*HTML5 TAG*/
h1,h2,h3,h4,h5,h6{font-size:100%;}
h1,h2,h3,h4,h5,h6,strong{font-weight: normal;}
ul,li{list-style:none;}
em,i{font-style:normal;}
html{-webkit-text-size-adjust:none;}/*禁用iphone中safari的字号自动调整*/
img{width: auto; max-width: 100%; height: auto; border: 0;}/*设置图片自适应*/
.video embed,.video object,.video iframe{width: 100%; height: auto;}/*设置视频自适应*/
body{font:24px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif; color:#333;}/*设置页面字体*/

html,body{width:100%; height:100%; min-height: 480px; background: #fff; position: relative;}
a{color: #8a8a8a; text-decoration: none;}
/*触屏滑动*/
.swiper-slide{text-align: center; position: relative; overflow: hidden;}
.swiper-container {width: 100%; height: 100%; margin: 0 auto; position: relative; overflow: hidden; z-index: 1;}
.swiper-container-vertical > .swiper-wrapper {
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-ms-flex-direction: column;
-webkit-flex-direction: column;
flex-direction: column;
}
.swiper-wrapper {position: relative; z-index: 1;}
.swiper-wp8-horizontal {-ms-touch-action: pan-y; touch-action: pan-y; }/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-vertical {-ms-touch-action: pan-x; touch-action: pan-x; }/* IE10 Windows Phone 8 Fixes */
.swiper-button-next{width: 25px; height: 15px; margin-left: -12.5px; background:url(../img/arrow.png) no-repeat; cursor: pointer; position: absolute; bottom: 60px; left: 50%; z-index: 10;}
.swiper-button-next .swiper-button-disabled {opacity: 0.35;cursor: auto;pointer-events: none;}
.swiper-button-next{-webkit-animation:anime 1.2s linear infinite;animation:anime 1.2s linear infinite;}/*箭头动画*/
@-webkit-keyframes anime{
  0%{-webkit-transform:translateY(30px);transform:translateY(30px);opacity:1;}
  100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:0;}
}
@keyframes anime{
  0%{-webkit-transform:translateY(30px);transform:translateY(30px);opacity:1;}
  100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:0;}
}

/*功能介绍*/
.top-nav{padding-top: 20px; text-align: right; color: #8a8a8a;}
.top-nav a{padding: 0 8px 0 3px; border-right: 1px solid #e4e4e4;}
.top-nav a:last-child{border:none;}
.c-logo{margin: 150px 0;}
.c-logo h2{margin-top: 45px; font-size: 32px; color: #00c40b;}
.btn-download{width: 205px; height: 70px; display: inline-block; border-radius: 10px; background-color: #12a81c; font-size: 32px; line-height: 70px; color: #ddffd8;}
.bg{background: url(../img/bg.png) no-repeat center 205px;}
.c-txt{padding: 50px 0; color: #1fcb29;}
.c-txt h3{font-size: 40px;}
.c-txt strong{font-size: 28px;}
.c_img{padding-bottom:30px;}
/*专业服务*/
.service-img{margin: 60px 0;}
.service-img h2{margin-top: 45px; font-size: 32px; color: #333;}
.more-bg{background-color: #f1f1f1;}
.contact{border-top: 1px solid #e0e0e0; background-color: #fff;}
.contact li{height: 85px; padding: 0 25px; border-bottom: 1px solid #e0e0e0; line-height: 85px;}
.contact-tit{float: left; color: #000; font-size: 32px;}
.contact-info{float: right; color: #8a8a8a; padding-right: 25px; background: url(../img/arrow_m.png) no-repeat right 29px; cursor: pointer;}
/*关于我们*/
.about-us{background-color: #f1f1f1;}
.about-us .top-nav{height: 60px; border-top: 1px solid #e8e8e8; line-height: 60px;}
.about_info dt{height: 85px; padding-left:25px; background-color: #fff; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; color: #000; font-size: 32px; line-height: 85px;}
.about_info dd{padding: 25px 25px 0 25px; color: #333; font-size: 28px;}
.about_info dd p{margin-bottom: 20px;}
.about-us .corporation{padding-top: 200px; text-align: center;}
/*底部公司注册信息*/
.corporation{padding: 25px 0; font-size: 24px; line-height: 1.5; color: #8a8a8a;}
/*响应式*/
@media screen and (max-device-width: 640px){/*当设备分辨率小于640*/
.top-nav,.contact{width: 640px; margin: 0 auto; line-height: 60px;}
.about_info{width: 640px; margin:0 auto;}
}

@media screen and (min-device-width: 640px){/*当设备分辨率大于640*/

}