@charset "utf-8";
/*重置reset css*/
body,div,p,blockquote,
ul,ol,dl,li,dt,dd,
form,fieldset,legend,input,button,textarea,tr,td,th,
h1,h2,h3,h4,h5,h5,hr
{margin: 0; padding: 0;}
article,nav,section,aside,header,footer,hgroup,figure,figcaption
{margin: 0; padding: 0; display: block;}/* HTML5 TAG */
tr,td{border-collapse: collapse;}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
h1,h2,h3,h4,h5,h6,strong{font-weight: normal;}
ol,ul,li{list-style: none;}
em,i{font-style: normal;}
img{width: auto; max-width: 100%; border: 0; vertical-align: top;}/* 设置图片自适应 */
.video embed,.video object,.video iframe{width: 100%; height: auto;}/* 设置视频自适应 */
html{-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%}/* 调整浏览器字体大小 */
body{-webkit-font-smoothing: antialiased;}/* 设置页面上的字体抗锯齿 */
input:focus{outline: none;}
/* 清浮 */
.clearfix{zoom:1;}
.clearfix:after{content: '.'; height: 0; display: block; clear: both; visibility: hidden;}
/* 浮动 */
.fl{float: left;}
.fr{float: right;}
/* 光标手势 */
.cursor{cursor: pointer;}
/* 显示隐藏 */
.hide{display: none;}
.show{display: block;}

/*设置页面字体、行高、字体大小*/
html,body{height: 100%; font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; position: relative;}
body{font-size: 1rem; color:#333; line-height: 1.5; background-color: #fff;}
/* 链接 */
a{color: #333; text-decoration: none;}
/* 拼图 */
.icon{background-image: url(images/icons.png); background-repeat: no-repeat; background-size: 23.4375rem;}
.i-more{width: 1.5625rem; height: 1.09375rem; background-size: 23.4375rem; position: absolute; bottom: 1.875rem; left: 50%; z-index: 97; margin-left: -0.78125rem; -webkit-animation: anime 1.5s linear infinite; animation: anime 1.5s linear infinite;}
.i-quotes{width: 0.78125rem; height: 0.625rem; position: absolute;}
.i-quotes-l{background-position: -9.375rem 0; top: -0.3125rem; left: -0.625rem;}
.i-quotes-r{background-position: -10.9375rem 0; bottom: -0.3125rem; right: -0.9375rem;}


.ico-set1{width: 2.34375rem; height: 2.1875rem; margin: 0 auto; display: block;}
.ico-set2{width: 3.125rem; height: 3.21875rem; margin: 0 auto; display: block;}
.ico-set3{width: 3.5rem; height: 3.5rem; margin: 0 auto; display: block;}
.ico-set4{width: 3.125rem; height: 2.8125rem; margin: 0 auto; display: block;}
.ico-z{width: 4.125rem; height: 4.125rem; margin: 0 auto; display: block;}
.ico-info{width: 1.09375rem; height: 1.09375rem; display: inline-block;}
.ico-a{background-position: -3.125rem -1.5625rem;}
.ico-b{background-position: -6.25rem -1.5625rem;}
.ico-c{background-position: -9.375rem -1.5625rem;}
.ico-d{background-position: -12.5rem -1.5625rem;}

.ico-e{background-position: -15.625rem -1.5625rem;}
.ico-f{background-position: -18.75rem -1.5625rem;}
.ico-g{background-position: 0 -4.6875rem;}
.ico-h{background-position: -3.125rem -4.6875rem;}

.ico-i{background-position: 0 -7.8125rem;}
.ico-j{background-position: -4.6875rem -7.8125rem;}
.ico-k{background-position: -9.375rem -7.8125rem;}
.ico-l{background-position: -14.0625rem -7.8125rem;}
.ico-m{background-position: -18.75rem -7.8125rem;}
.ico-n{background-position: 0 -12.5rem;}

.ico-o{background-position: 0 -17.1875rem;}
.ico-p{background-position: -3.125rem -17.1875rem}
.ico-q{background-position: -6.25rem -17.1875rem}
.ico-r{background-position: -9.375rem -17.1875rem}

.ico-s{background-position: -4.6875rem -12.5rem;}
.ico-t{background-position: -9.375rem -12.5rem;}
.ico-u{background-position: -14.0625rem -12.5rem;}

.ico-v{background-position: 0 -20.3125rem;}
.ico-w{background-position: -3.125rem -20.3125rem;}
.ico-x{background-position: -6.25rem -20.3125rem;}
.ico-y{background-position: -9.375rem -20.3125rem;}

.ico-z1{background-position: 0 -23.4375rem;}
.ico-z2{background-position: -4.6875rem -23.4375rem;}
.ico-z3{background-position: -9.375rem -23.4375rem;}
.ico-z4{background-position: -14.0625rem -23.4375rem;}
.ico-z5{background-position: -18.75rem -23.4375rem;}

.icon-code{background-position: -12.5rem 0;}
.icon-tel{background-position: -14.0625rem 0;}
.icon-email{background-position: -15.625rem 0;}
.icon-address{background-position: -17.1875rem 0;}
/* header */
header{width: 100%; background-color: #000; position: fixed; left: 0; top: 0; z-index: 99;}
header,.menu li a{color: #fff;}
.wrap-hd{height: 3.125rem; display: flex; flex-direction: row;}
.logo{flex: 1;}
.logo-pic{width: 2.65625rem; height: 1.25rem; margin: .75rem 0 0 .625rem;}
nav{flex: 1;}
.i-menu{width: 1.71875rem; height: 1.09375rem; margin: .875rem .625rem 0 0; background-position: -3.125rem 0; background-size: 23.4375rem;}
.menu{width: 9.375rem; background-color: #272d2c; position: fixed; top: 0; right: 0;}
.menu li{height: 3.125rem; line-height: 3.125rem; text-align: center;}
.menu-act{background-color: #f28f00;}

section{width: 100%; height: 100%;}
hr{width: 2.5rem; height: 0.15625rem; margin: 0 auto; border: 0; background-color: #f28f00;}
.relative{position: relative;}
/* 模块-页面swiper */
.swiper-container{width: 100%; height: 100%;}
.swiper-slide{text-align: center; justify-content: center; align-items: center;}
.swiper-button-next,.swiper-button-prev{width: 1.125rem; height: 2.125rem;}
.swiper-button-next{background-position: -1.5625rem -1.5625rem;}
.swiper-button-prev{background-position: 0 -1.5625rem;}
.swiper-pagination-bullet{width: 0.5625rem; height: 0.5625rem;}
.swiper-pagination-bullet-active{background: #f28f00;}
/* 模块-文字标题 */
.mod-tit2{margin-top: 7.1875rem; text-align: center;}
.mod-tit2 dt{margin-bottom: 0.15625rem; font-size: 1.5625rem;}
.mod-tit2 dd{font-size: 0.9375rem; color: #666;}
/* 模块-图片标题 */
.mod-tit{margin: 4.6875rem 0 0.9375rem;}
.mod-tit dt{margin-bottom: 0.625rem;}
.mod-tit dd{font-size: 1rem;}
.mod-tit img{width: 8.75rem;}
/* 模块-标题装饰线 */
.mod-tit-line{width: 2.5rem; height: 0.1875rem; background-color: #f28f00; display: inline-block;}
/* 模块-图标 */
.mod-icon li{width: 50%; margin-top: 4.6875rem; text-align: center; float: left;}
.mod-icon .ico-txt{margin-top: 0.9375rem; font-size: 0.9375rem; display: block;}
/* 模块-扫码 */
.start-mod-tit dt{padding: 80px 0 30px;}
.start-mod-tit dt img{width: 9.375rem;}
.start-mod-tit dd{font-size: 0.9375rem; text-align: center;}
/* 模块-中英标题 */
.cnen-mod-tit{margin-top: 7.1875rem; text-align: center;}
.cnen-mod-tit h5{font-size: 1.5625rem; line-height: 1.5625rem;}
.cnen-mod-tit em{text-transform: uppercase; color: #999; font-size: 0.625rem;}
/* 模块-图标-标题-描述 */
.pic-txt-list{text-align: center;}
.pic-txt-list li{width: 50%; padding-top: 2.8125rem; float: left; box-sizing: border-box;}
.pic-txt-list .s-tit{margin: 0.625rem 0 0.15625rem; font-size: 1.0rem; display: block;}
.pic-txt-list .s-des{font-size: 0.6875rem; color: #666; display: block;}
/* 模块-文字列表 */
.mod-txt-li li{padding: 0.125rem 0;font-size: 0.9375rem; text-align: left;}
.li-dot{width: 0.375rem; height: 0.375rem; margin: -5px 0.625rem 0 0; vertical-align: middle; display: inline-block; background-color: #f5a533; border-radius: 5px;}
/* 模块-图片 */
.mod-con img{width: 23.4375rem;}

/* 模块-遮罩层 */
.mask{width: 100%; height: 100%; background-color: #000; opacity: 0.5; position: fixed; top: 0; left: 0; display: none; z-index: 98;}
/* 模块-banner */
.start-btn{width: 7.5rem; height: 1.875rem; margin-left: -3.75rem; color: #666; line-height: 1.875rem; text-align: center; background-color: rgba(255,255,255,.5); border-radius: 0.25rem; position: absolute; bottom: 5.46875rem; left: 50%; z-index: 3;}
.banner-pic{width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;}
/*.banner-con{width: 100%; min-height: 200px; margin-top: -100px; text-align: center; color: #fff; position: absolute; top: 50%;}*/
.home-banner{background-image: url(images/index-banner.jpg);}
.wk-banner{background-image: url(images/wk-banner.jpg);}
.sy-banner{background-image: url(images/sy-banner.jpg);}
.media-banner{background-image: url(images/media-banner.jpg);}
.about-banner{background-image: url(images/about-banner.jpg);}
.join-banner{background-image: url(images/join-banner.jpg);}
.know-banner{background-image: url(images/know-banner.jpg);}

/* 首页 */
.home-p1 h1{font-size: 2.125rem; color: #fff;}
.home-top-tit{width: 100%; height: 6.25rem; position: absolute; top: 50%; margin-top: -3.125rem;}
.home-top-tit img{width: 50%; margin-bottom: 0.3125rem;}
.home-p2,.home-p3{background: linear-gradient(#fff,#eee);}
.home-p2 .i-more,.home-p3 .i-more{background-position: -6.25rem 0;}
.home-p4{background: url(images/index-pic03.jpg) no-repeat; background-size: 100% 100%;}
.home-p4 .mod-tit{margin-top: 18.75rem;}
.home-p4 .mod-tit dt{margin-bottom: 0; font-size: 2.125rem;}
.home-p4 .mod-tit-line{background-color: #1e9331;}
/* 简知微课 */
.wk .mod-icon{margin: 1.875rem 0.625rem 0;}
.wk-p3-bg{background-image: url(images/wk-pic06.jpg);}
.wk-p3 .mod-tit2{width:100%; position: absolute;}
.wk-p5{background: url(images/wk-bg-rep.png) repeat;}
.wk-p5 .mod-con{margin-top: 3.125rem;}
.wk-p6{background-color: #fffaf2;}
.comment-swiper{height: 10.9375rem; margin-top: 4.6875rem;}
.wk-comment{width: 17.1875rem; margin: 0 auto; text-align: left; background-color: #fff; box-shadow: 3px 3px 6px #f5f0e9; border-radius: 2px;}
.wk-comment dt{padding: 0.9375rem; font-size: 0.8125rem;}
.wk-comment dt span{padding-left: 0.3125rem; border-left: 0.25rem solid #f28f00;}
.wk-comment dd{padding: 0 0.9375rem 0.9375rem; font-size: 0.75rem; color: #666;}
.wk-p7{background-color: #def4ff;}
.wk-p7 .pic-swiper{margin-top: 3.4375rem; height: 22.1875rem;}
.wk-p7 .pic-swiper img{width: 12.5rem;}
.wk-p8 .start-mod-tit,.sy-p4 .start-mod-tit{margin-top: 3.125rem;}
.wk-p8 .mod-con,.sy-p4 .mod-con{position: absolute; bottom: 0;}
/* 简知书院 */
.sy-p1 .banner-con{width: 100%; position: absolute; top: 7.5rem; text-align: center;}
.sy-p1 .banner-con dt{font-size: 1.75rem; color: #c54379;}
.sy-p1 .banner-con dd{font-size: 0.625rem; color: #b45b80;}
.sy-p1 .banner-con img{width: 4.6875rem;}
.sy-p2 .cnen-mod-tit{margin-top: 5.0rem;}
.sy-p3 .mod-tit dt{font-size: 1.125rem;}
.sy-p3 .mod-tit dd{font-size: 0.875rem;}
.plan-list{width: 15.9375rem; margin: 3.125rem auto 0;}
.plan-list li{width: 4.6875rem; height: 4.6875rem; padding-top: 0.9375rem; margin: 0 0.3125rem 3.125rem; float: left; text-align: center; background-color: #ebfbff; box-sizing: border-box; border-radius: 0.09375rem; position: relative;}
.plan-list li:last-child{margin: 0;}
.plan-list-num{font-size: 1.25rem; font-style: italic; position: absolute; top: -1.09375rem; left: 0.3125rem;}
/* 新媒体 */
.media-p1 .mod-tit2 dt{font-size: 1.875rem; color: #fff;}
.media-p1 .mod-tit2 dd{font-size: 1.25rem; color: #fff;}
.media-p1 .banner-con{width: 100%; position: absolute; top: 5rem; text-align: center;}
.media-p3 .pic-txt-swiper{width: 17.1875rem; height: 28.125rem; margin: 0 auto;}
.media-p3 img{width: 5.0rem; margin-top: 5.0rem;}
.media-p3 p{margin-top: 1.5625rem; font-size: 0.875rem; text-align: left; color: #666;}
.media-p3 .mod-tit2{margin-top: 0.625rem;}
.media-p3 .mod-tit2 dt{font-size: 1.0rem}
.media-p3 .mod-tit2 dd{font-size: 0.8125rem;}
/* 关于我们 */
.about-p1 .banner-con{width: 100%; color: #fff; position: absolute; top: 0; text-align: center;}
.about-p1 .cnen-mod-tit h5{font-size: 2.5rem; line-height: 1.2;}
.about-p1 .cnen-mod-tit em{font-size: 1.4375rem; color: #fff; letter-spacing: 0.375rem;}
.slogan-tit{margin-top: 3.75rem; font-size: 1.5625rem; color: #f28f00; text-align: center;}
.slogan-item{width: 17.5rem; margin: 3.125rem auto 0;}
.slogan-item li{width: 17.5rem; margin-bottom: 3.125rem; padding: 0.9375rem 0; font-size: 0.9375rem; text-align: center; background-color: rgba(255,255,255,.2); box-sizing: border-box; position: relative;}
.slogan-item li:last-child{}
.slogan-tab{width: 3.75rem; height: 1.5625rem; margin: -0.9375rem 0 0 -1.875rem; line-height: 1.5625rem; background-position: -18.75rem -12.5rem; position: absolute; top: 0; left: 50%;}

.about-p2 .cnen-mod-tit{margin-top: 5rem;}
.about-p2 .pic-txt-swiper{width: 21.5625rem; height: 26.5625rem; margin: 0 auto;}
.about-p2 .pic-txt-list{height: 23.75rem; border: 1px solid #ddd; border-radius: 0.3125rem; box-sizing: border-box;}
.about-p2 .pic-txt-list img{width: 12.5rem; margin-top: 1.5625rem;}
.about-p2 .pic-txt-list .s-tit{margin: 0; font-size: 1.3125rem;}
.about-p2 .pic-txt-list .s-en{font-size: 0.5625rem; color: #999; display: block;}
.about-p2 .pic-txt-list .s-des{margin-top: 0.9375rem; font-size: 0.875rem; color: #999;}
.append-buttons{margin: 1.5625rem 0 0.9375rem;}
.append-buttons li{width: 25%; float: left; font-size: 0.9375rem; text-align: center;}
.append-buttons .cur{padding-bottom: 0.3125rem;border-bottom: 0.125rem solid #f28f00;}
.about-p3 .mod-con{margin-top: 3.125rem;}


.about-p4 .mod-pic{width: 22.1875rem; margin: 3.125rem auto 0;}
.about-p4 .mod-pic li{margin-bottom: 1.25rem; overflow: hidden; position: relative;}
.about-p4 .mod-pic li img{width: 22.1875rem;}
.about-more{width: 5.0rem; height: 1.5625rem; margin: 0.78125rem 0 0 -2.5rem; color: #fff; font-size: 0.75rem; text-align: center; line-height: 1.5625rem; border-radius: 0.625rem; background-color: rgba(242,143,0,.8); position: absolute; top: 1.5625rem; left: 50%;}
.about-p5 .pic-swiper{height: 12.5rem; margin-top: 3.125rem;}
.about-p5 .pic-swiper img{width: 12.5rem;}
.about-team-txt{width: 19.375rem; margin: 1.5625rem auto 0; font-size: 0.9375rem; text-align: left; text-indent: 1.875rem;}

.about-contact{width: 15.3125rem; margin: 3.125rem auto 0;}
.about-contact li{width: 100%; height: 1.875rem; font-size: 0.8125rem; text-align: left;}
.about-contact li span{float: left;}
.about-contact .ico-info{margin: 0.15625rem 0.625rem 0 0; vertical-align: text-top;}
.about-p6 .mod-con{position: absolute; bottom: 0;}
/* 加入我们 */
.join-p1 .banner-con{width: 100%; color: #fff; position: absolute; top: 0; text-align: center; margin-top: 6.25rem;}
.join-p1 h5{font-size: 2.5625rem;}
.join-p1 .pic-txt-list li{width: 33.33%;}
.join-p1 .pic-txt-list:last-child{width: 70%; margin: 0 auto;}
.join-p1 .pic-txt-list:last-child li{width: 50%;}
.join-p1 .pic-txt-list .s-tit{font-size: 0.75rem;}

.join-p2 .pic-swiper{width: 22.1875rem; height: 18.75rem; margin: 3.125rem auto 0;}
.join-p2 .pic-swiper img{border-radius: 0.3125rem;}

.join-p3 .pic-txt-list{margin: 6.25rem 0 9.375rem;}
.join-p3 .pic-txt-list li{width: 33.33%; padding-top: 1.5625rem;}
.join-p3 .pic-txt-list .s-tit{font-size: 0.875rem;}
.join-lagou{margin-top: 2.5rem; text-align: center;}
.join-lagou a{width: 18.75rem; height: 2.8125rem; font-size: 1.0625rem; color: #fff; line-height: 2.8125rem; display: inline-block; background-color: #f5a533; border-radius: 0.3125rem; border: 1px solid #f18630;}
/* 知识共建计划 */
.know-p1 .banner-con{width: 100%; color: #fff; position: absolute; top: 0; text-align: center; margin-top: 9.375rem;}
.know-p1 .mod-tit2 dt{font-size: 1.3125rem; color: #fff;}
.know-p1 .mod-tit2 dd{font-size: 2.3125rem; color: #fff;}

.know-p2 .pic-txt-list{padding: 1.5625rem 1.5625rem 0;}

.know-p3,.know-p5{background-color: #eee;}

.know-mod-txt{padding-top: 6.25rem;}
.know-mod-txt h5{font-size: 1.5625rem;}
.know-mod-txt p{margin: 0.625rem 0; font-size: 0.875rem; color: #666;}
.mod-txt-li{width: 12.5rem; margin-left: 6.875rem;}

.know-p3 .mod-con,.know-p6 .mod-con{margin-top: 0.9375rem;}
.know-p4 .mod-con{margin-top: 6.25rem;}
.know-p5 .mod-con{margin-top: 2.5rem;}

.know-p6 .mod-txt-li{margin-left: 5.625rem;}

/* 横屏提示页 */
.landscape{padding-top: 10%; text-align: center; color: #999; display: none;}
.landscape img{width: 40%; margin-bottom: 0.625rem;}

/* 动画*/
@-webkit-keyframes anime{
  0%{-webkit-transform:translateY(15px);transform:translateY(15px);opacity:1;}
  100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:0;}
}
@keyframes anime{
  0%{-webkit-transform:translateY(15px);transform:translateY(15px);opacity:1;}
  100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:0;}
}
@keyframes bannerScaleChange {
	50% {
		transform: scale(1.1)
	}

	100% {
		transform: scale(1)
	}
}
/* ipad */
@media screen and (min-width: 768px) {
	.mod-tit{margin-top: 5rem;}
	.p4 .mod-tit{margin-top: 13rem;}
}
/* 竖屏 */
@media all and (orientation : landscape) {
	header,section{display: none;}
	.landscape{display: block;}
} 
/* 横屏 */
@media all and (orientation : portrait) {
	header,section{display: block;}
	.landscape{display: none;}
}